In [1]:
#####################################
## Import Libraries and Dependencies
#####################################
import os
import csv
import pandas as pd
import numpy as np
import json
from random import randint
import sys

In [2]:
#################################################
## Open Jupyter Notebook using a higher IOP rate
################################################
## In Command Prompt, enter this: jupyter notebook --NotebookApp.iopub_data_rate_limit=1.0e10

##Learn to secure API routes
#https://geekflare.com/securing-flask-api-with-jwt/

In [3]:
## Check working directory

cwd = os.getcwd()
print(cwd)

C:\Users\keg827\Documents\10_Github_Repos\CARDIAimpactanalysis

In [4]:
## Read CSV into pandas dataframe

wosDocumentsDF = pd.read_csv(r"C:\Users\keg827\Documents\10_Github_Repos\CARDIAimpactanalysis\data\wos_documents.csv", encoding= 'unicode_escape')
wosDocumentsDF.head()

,PT,AU,BA,BE,GP,AF,BF,CA,TI,SO,...,PG,WC,SC,GA,UT,PM,OA,HC,HP,DA
0,J,"Swift, SL; Glymour, MM; Elfassy, T; Lewis, C; ...",NaN,NaN,NaN,"Swift, Samuel L.; Glymour, M. Maria; Elfassy, ...",NaN,NaN,Racial discrimination in medical care settings...,PLOS ONE,...,12,Multidisciplinary Sciences,Science & Technology - Other Topics,LP3ZM,WOS:000534257500017,31860661.0,"DOAJ Gold, Green Published",NaN,NaN,8/15/2020
1,J,"Pugliese, DN; Booth, JN; Deng, LQ; Anstey, DE;...",NaN,NaN,NaN,"Pugliese, Daniel N.; Booth, John N., III; Deng...",NaN,NaN,Sex differences in masked hypertension: the Co...,JOURNAL OF HYPERTENSION,...,9,Peripheral Vascular Disease,Cardiovascular System & Cardiology,KG1CQ,WOS:000509679200009,31246891.0,NaN,NaN,NaN,8/15/2020
2,J,"Hirahatake, KM; Jacobs, DR; Shikany, JM; Jiang...",NaN,NaN,NaN,"Hirahatake, Kristin M.; Jacobs, David R., Jr.;...",NaN,NaN,Cumulative average dietary pattern scores in y...,DIABETOLOGIA,...,12,Endocrinology & Metabolism,Endocrinology & Metabolism,JT4ZE,WOS:000500998600007,31478081.0,NaN,NaN,NaN,8/15/2020
3,J,"Xiong, ZY; Li, JY; Zhong, XB; Zhang, SZ; Sun, ...",NaN,NaN,NaN,"Xiong, Zhenyu; Li, Jiaying; Zhong, Xiangbin; Z...",NaN,NaN,Visit-to-Visit Fasting Glucose Variability in ...,DIABETES CARE,...,4,Endocrinology & Metabolism,Endocrinology & Metabolism,JQ0GR,WOS:000498634000031,31548243.0,NaN,NaN,NaN,8/15/2020
4,J,"Sternfeld, B; Gabriel, KP; Jiang, SF; Whitaker...",NaN,NaN,NaN,"Sternfeld, Barbara; Gabriel, Kelley Pettee; Ji...",NaN,NaN,Risk Estimates for Diabetes and Hypertension w...,MEDICINE AND SCIENCE IN SPORTS AND EXERCISE,...,8,Sport Sciences,Sport Sciences,JO3XW,WOS:000497515100010,31274682.0,NaN,NaN,NaN,8/15/2020

In [6]:
##Work on Open Access Columns
## https://images.webofknowledge.com/WOKRS533JR18/help/WOS/hp_results.html

## The following OA values are available as part of the export of the full record

## DOAJ Gold
## Other Gold
## Bronze
## Green Published
## Green Accepted

                
wosDocumentsDF['OA'] = wosDocumentsDF['OA'].fillna("0")
wosDocumentsDF['OAany'] = np.where(wosDocumentsDF['OA'].str.contains("0"),"0",
                  np.where(wosDocumentsDF['OA'].str.contains("DOAJ Gold"), "1",
                  np.where(wosDocumentsDF['OA'].str.contains("Other Gold"), "1", 
                  np.where(wosDocumentsDF['OA'].str.contains("Bronze"), "1",
                  np.where(wosDocumentsDF['OA'].str.contains("Green Published"), "1",
                  np.where(wosDocumentsDF['OA'].str.contains("Green Accepted"), "1","0")))))).astype(int)

wosDocumentsDF['Gold'] = np.where(wosDocumentsDF['OA'].str.contains("0"),"0",
                  np.where(wosDocumentsDF['OA'].str.contains("DOAJ Gold"), "1",
                   np.where(wosDocumentsDF['OA'].str.contains("Other Gold"), "1", "0"))).astype(int)

wosDocumentsDF['Bronze'] = np.where(wosDocumentsDF['OA'].str.contains("0"),"0",
                  np.where(wosDocumentsDF['OA'].str.contains("Bronze"), "1", "0")).astype(int)

wosDocumentsDF['Green'] = np.where(wosDocumentsDF['OA'].str.contains("0"),"0",
                  np.where(wosDocumentsDF['OA'].str.contains("Green Published"), "1",
                  np.where(wosDocumentsDF['OA'].str.contains("Green Accepted"), "1", "0"))).astype(int)

print(wosDocumentsDF["Bronze"])

0      0
1      0
2      0
3      0
4      0
      ..
742    1
743    0
744    0
745    0
746    0
Name: Bronze, Length: 747, dtype: int32

In [7]:
## Print sum and average of each type of open access

Total_Gold = wosDocumentsDF['Gold'].sum()
Total_Bronze = wosDocumentsDF['Bronze'].sum()
Total_Green= wosDocumentsDF['Green'].sum()
Total_OAany = wosDocumentsDF['OAany'].sum()
Total_pubs = wosDocumentsDF["PT"].count()
ofOA_Avg_Gold = round(Total_Gold/Total_OAany, 2)
ofOA_Avg_Bronze =  round(Total_Bronze/Total_OAany, 2)
ofOA_Avg_Green =  round(Total_Green/Total_OAany, 2)

print(Total_Gold, Total_Bronze, Total_Green,Total_OAany, Total_pubs, ofOA_Avg_Gold, ofOA_Avg_Bronze, ofOA_Avg_Green )

79 240 486 562 747 0.14 0.43 0.86

In [8]:
## Group OA count by publication year

OAtable = wosDocumentsDF.groupby(['PY'])[["Gold", "Bronze", "Green", "OAany"]].sum()
print (OAtable)
type(OAtable)

      Gold  Bronze  Green  OAany
PY
1987     0       0      0      0
1988     0       0      0      0
1989     0       1      0      1
1990     0       2      1      2
1991     0       1      0      1
1992     0       2      2      2
1993     0       1      0      1
1994     0       2      1      2
1995     0       0      1      1
1996     0       7      3      7
1997     0       2      2      2
1998     0       3      2      3
1999     0       3      0      3
2000     0       5      0      5
2001     0       2      1      2
2002     1       7      1      8
2003     0      10      1     10
2004     0      10      5     12
2005     0       9      5     11
2006     0      15      7     17
2007     1      10     16     20
2008     1       7     13     16
2009     2      14     35     36
2010     6      20     47     48
2011     5       9     29     29
2012     2      19     31     32
2013     8      12     43     43
2014     4      13     37     38
2015     9       9     41     43
2016    13      11     37     38
2017     9      14     44     46
2018     9      16     44     46
2019     9       4     37     37

pandas.core.frame.DataFrame

In [10]:
## Output table to csv
OAtable.to_csv(r'output/oa_table.csv')

In [9]:
## Output table to json

#oatableJSON = OAtable.to_json(orient="records")
oatableJSON = OAtable.to_json(orient="table")
print(oatableJSON)

{"schema":{"fields":[{"name":"PY","type":"integer"},{"name":"Gold","type":"integer"},{"name":"Bronze","type":"integer"},{"name":"Green","type":"integer"},{"name":"OAany","type":"integer"}],"primaryKey":["PY"],"pandas_version":"0.20.0"},"data":[{"PY":1987,"Gold":0,"Bronze":0,"Green":0,"OAany":0},{"PY":1988,"Gold":0,"Bronze":0,"Green":0,"OAany":0},{"PY":1989,"Gold":0,"Bronze":1,"Green":0,"OAany":1},{"PY":1990,"Gold":0,"Bronze":2,"Green":1,"OAany":2},{"PY":1991,"Gold":0,"Bronze":1,"Green":0,"OAany":1},{"PY":1992,"Gold":0,"Bronze":2,"Green":2,"OAany":2},{"PY":1993,"Gold":0,"Bronze":1,"Green":0,"OAany":1},{"PY":1994,"Gold":0,"Bronze":2,"Green":1,"OAany":2},{"PY":1995,"Gold":0,"Bronze":0,"Green":1,"OAany":1},{"PY":1996,"Gold":0,"Bronze":7,"Green":3,"OAany":7},{"PY":1997,"Gold":0,"Bronze":2,"Green":2,"OAany":2},{"PY":1998,"Gold":0,"Bronze":3,"Green":2,"OAany":3},{"PY":1999,"Gold":0,"Bronze":3,"Green":0,"OAany":3},{"PY":2000,"Gold":0,"Bronze":5,"Green":0,"OAany":5},{"PY":2001,"Gold":0,"Bronze":2,"Green":1,"OAany":2},{"PY":2002,"Gold":1,"Bronze":7,"Green":1,"OAany":8},{"PY":2003,"Gold":0,"Bronze":10,"Green":1,"OAany":10},{"PY":2004,"Gold":0,"Bronze":10,"Green":5,"OAany":12},{"PY":2005,"Gold":0,"Bronze":9,"Green":5,"OAany":11},{"PY":2006,"Gold":0,"Bronze":15,"Green":7,"OAany":17},{"PY":2007,"Gold":1,"Bronze":10,"Green":16,"OAany":20},{"PY":2008,"Gold":1,"Bronze":7,"Green":13,"OAany":16},{"PY":2009,"Gold":2,"Bronze":14,"Green":35,"OAany":36},{"PY":2010,"Gold":6,"Bronze":20,"Green":47,"OAany":48},{"PY":2011,"Gold":5,"Bronze":9,"Green":29,"OAany":29},{"PY":2012,"Gold":2,"Bronze":19,"Green":31,"OAany":32},{"PY":2013,"Gold":8,"Bronze":12,"Green":43,"OAany":43},{"PY":2014,"Gold":4,"Bronze":13,"Green":37,"OAany":38},{"PY":2015,"Gold":9,"Bronze":9,"Green":41,"OAany":43},{"PY":2016,"Gold":13,"Bronze":11,"Green":37,"OAany":38},{"PY":2017,"Gold":9,"Bronze":14,"Green":44,"OAany":46},{"PY":2018,"Gold":9,"Bronze":16,"Green":44,"OAany":46},{"PY":2019,"Gold":9,"Bronze":4,"Green":37,"OAany":37}]}